{% extends 'base.html' %}


{% block content %}
<form action="" method="POST">


  <label for="population" class="col-form-label">Population size: </label>
  <input type="number" id="population" name="population" class="form-control" value="100">
  <br>
  <label for="chromosome" class="col-form-label">Chromosome size: </label>
  <input type="number" id="chromosome" name="chromosome" class="form-control" value="20">
  <br>
  <label for="mutation" class="col-form-label">Mutation chance: </label>
  <input type="number" id="mutation" name="mutation" class="form-control" value="0.001">
  <br>
  <label for="crossing_over" class="col-form-label">Crossing over chance: </label>
  <input type="number" id="crossing_over" name="crossing_over" class="form-control" value="0.4">
  <br>
  <label for="selection" class="col-form-label">Selection chance: </label>
  <input type="number" id="selection" name="selection" class="form-control" value="0.90">
  <br>
  <label for="iterations" class="col-form-label">Number of iterations: </label>
  <input type="number" id="iterations" name="iterations" class="form-control" value="200">
  <br>

  <label for="fitnes" class="col-form-label">fitnes: </label>
  <input type="text" id="fitnes" name="fitnes" class="form-control" value="x^2+4">

  <button type="submit">Go</button>
</form>

  {% if data %}
    {% if image %}
        <img src='data:image/png; base64,{{image}}' >
    {% endif %}
  {% endif %}

{% endblock %}